In [2]:
import pymongo
import pandas as pd

# Connect to MongoDB Atlas (Replace with your URI)
client = pymongo.MongoClient("mongodb+srv://birajgtm:birajgtm@madsclass.rgddjin.mongodb.net/")

# Select the database and collection
db = client["BIG_DATA"]
collection = db["TMDB_PROCESSED"]

In [11]:
# Fetch data from MongoDB
data = list(collection.find({}, {"_id": 0}).limit(10))

In [12]:
# Convert to Pandas DataFrame
df = pd.DataFrame(data)

df.shape

(10, 29)

In [13]:
print("üîπ Sample Data from TMDB_RAW:")
# Display first few rows
df.head()

üîπ Sample Data from TMDB_RAW:

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",√Ålex Pina,es,"Netflix, Antena 3",ES,Espa√±ol,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

### Preprocessing
Remove Unnecessary Columns in MongoDB

In [16]:
sample_data = list(collection.find({}, {"_id": 0, "poster_path": 1, "backdrop_path": 1, "homepage": 1, "tagline": 1}).limit(10))

# Convert to DataFrame
df_before = pd.DataFrame(sample_data)

# Display the DataFrame
print("üîπ Data BEFORE Removing Unnecessary Fields:")
df_before.head(10)

üîπ Data BEFORE Removing Unnecessary Fields:

,backdrop_path,homepage,poster_path,tagline
0,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,http://www.hbo.com/game-of-thrones,/1XS1oqL89opfnbLl8WnZY1O1uJx.jpg,Winter Is Coming
1,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,https://www.netflix.com/title/80192098,/reEMJA1uzscCbkpeRJeTT2bjqUp.jpg,The perfect robbery.
2,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,https://www.netflix.com/title/80057281,/49WJfeN0moxb9IPfGn8AIqMGskD.jpg,Every ending has a beginning.
3,/x4salpjB11umlUOltfNvSSrjSXm.jpg,http://www.amc.com/shows/the-walking-dead--100...,/n7PVu0hSz2sAsVekpOIoCnkWlbn.jpg,Fight the dead. Fear the living.
4,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,https://www.netflix.com/title/80057918,/ekZobS8isE6mA53RAiGDG93hBxL.jpg,It's good to be bad.
5,/soQgquPkLmUu9eKLJJzuA4KZDyi.jpg,http://www.cwtv.com/shows/riverdale/,/c1ROxK1Afo6YuGi3j6ClXmrNcHi.jpg,"To save the future, they must survive the past."
6,/2meX1nMdScFOoV4370rqHWKmXhY.jpg,https://www.netflix.com/title/81040344,/dDlEmu3EZ0Pgg93K2SVNLCjCSvE.jpg,45.6 billion won is child's play
7,/tsRy63Mu5cu8etL1X7ZLyf7UP1M.jpg,http://www.amc.com/shows/breaking-bad,/3xnWaLQjelJDDF7LT1WBo6f4BRe.jpg,Change the equation.
8,/xXRsKNJHTOGrs5wfYAxkbM2RiyT.jpg,https://abc.com/shows/the-good-doctor,/luhKkdD80qe62fwop6sdrXK9jUT.jpg,Everyone operates differently.
9,/lOr9NKxh4vMweufMOUDJjJhCRHW.jpg,https://www.disneyplus.com/series/wandavision/...,/frobUz2X5Pc8OiVZU8Oo5K3NKMM.jpg,Experience a new vision of reality.

In [17]:
# Remove unnecessary columns
update_result = collection.update_many({}, { 
    "$unset": { 
        "poster_path": 1, 
        "backdrop_path": 1, 
        "homepage": 1, 
        "tagline": 1
    } 
})

# Print update summary
print(f"Matched Documents: {update_result.matched_count}")
print(f"Modified Documents: {update_result.modified_count}")

‚úÖ Matched Documents: 169639
‚úÖ Modified Documents: 169639

Convert Boolean Fields from string to Boolean

In [18]:
# Fetch sample records with boolean fields
sample_boolean_data = list(collection.find({}, {"_id": 0, "adult": 1, "in_production": 1}).limit(10))

# Convert to DataFrame
df_boolean_before = pd.DataFrame(sample_boolean_data)

# Display DataFrame before boolean conversion
print("üîπ Data BEFORE Converting Boolean Strings:")
display(df_boolean_before)

üîπ Data BEFORE Converting Boolean Strings:

   adult in_production
0  False         False
1  False         False
2  False          True
3  False         False
4  False         False
5  False         False
6  False          True
7  False         False
8  False          True
9  False         False

In [19]:
# Convert boolean fields in MongoDB
update_result = collection.update_many({}, [
    { "$set": { 
        "adult": { "$cond": { "if": { "$eq": ["$adult", "True"] }, "then": True, "else": False } },
        "in_production": { "$cond": { "if": { "$eq": ["$in_production", "True"] }, "then": True, "else": False } }
    }}
])

# Print update summary
print(f"‚úÖ Matched Documents: {update_result.matched_count}")
print(f"‚úÖ Modified Documents: {update_result.modified_count}")

‚úÖ Matched Documents: 169639
‚úÖ Modified Documents: 169639

Convert Date Strings (first_air_date, last_air_date) to ISODate

In [20]:
# Fetch sample records with date fields
sample_date_data = list(collection.find({}, {"_id": 0, "first_air_date": 1, "last_air_date": 1}).limit(10))

# Convert to DataFrame
df_date_before = pd.DataFrame(sample_date_data)

# Display DataFrame before date conversion
print("üîπ Data BEFORE Converting Date Strings:")
display(df_date_before)

üîπ Data BEFORE Converting Date Strings:

  first_air_date last_air_date
0     2011-04-17    2019-05-19
1     2017-05-02    2021-12-03
2     2016-07-15    2022-07-01
3     2010-10-31    2022-11-20
4     2016-01-25    2021-09-10
5     2017-01-26    2023-08-23
6     2021-09-17    2021-09-17
7     2008-01-20    2013-09-29
8     2017-09-25    2023-05-01
9     2021-01-15    2021-03-05

In [23]:
# Convert date fields while handling empty values
update_result = collection.update_many(
    { "$and": [ { "first_air_date": { "$ne": "" } }, { "first_air_date": { "$exists": True } } ] },
    [{ "$set": { "first_air_date": { "$toDate": "$first_air_date" } } }]
)

update_result_2 = collection.update_many(
    { "$and": [ { "last_air_date": { "$ne": "" } }, { "last_air_date": { "$exists": True } } ] },
    [{ "$set": { "last_air_date": { "$toDate": "$last_air_date" } } }]
)

# Print update summary
print(f"‚úÖ Matched and Modified `first_air_date`: {update_result.modified_count}")
print(f"‚úÖ Matched and Modified `last_air_date`: {update_result_2.modified_count}")

‚úÖ Matched and Modified `first_air_date`: 135924
‚úÖ Matched and Modified `last_air_date`: 137756

 Convert genres from a String to an Array

In [24]:
# Fetch sample records with genres field
sample_genres_data = list(collection.find({}, {"_id": 0, "genres": 1}).limit(10))

# Convert to DataFrame
df_genres_before = pd.DataFrame(sample_genres_data)

# Display DataFrame before conversion
print("üîπ Data BEFORE Converting `genres` to Array:")
display(df_genres_before)

üîπ Data BEFORE Converting `genres` to Array:

                                        genres
0  Sci-Fi & Fantasy, Drama, Action & Adventure
1                                 Crime, Drama
2             Drama, Sci-Fi & Fantasy, Mystery
3  Action & Adventure, Drama, Sci-Fi & Fantasy
4                      Crime, Sci-Fi & Fantasy
5                        Crime, Drama, Mystery
6           Action & Adventure, Mystery, Drama
7                                 Drama, Crime
8                                        Drama
9             Sci-Fi & Fantasy, Mystery, Drama

In [25]:
# Convert `genres` from string to array in MongoDB
update_result = collection.update_many({}, [
    { "$set": { 
        "genres": { 
            "$split": ["$genres", ", "]  # Split by ", " into an array
        }
    }}
])

# Print update summary
print(f"‚úÖ Matched Documents: {update_result.matched_count}")
print(f"‚úÖ Modified Documents: {update_result.modified_count}")

‚úÖ Matched Documents: 169639
‚úÖ Modified Documents: 169639

Convert episode_run_time to integer and handle nulls

In [26]:
# Fetch sample records with episode_run_time
sample_runtime_data = list(collection.find({}, {"_id": 0, "episode_run_time": 1}).limit(10))

# Convert to DataFrame
df_runtime_before = pd.DataFrame(sample_runtime_data)

# Display DataFrame before conversion
print("üîπ Data BEFORE Converting `episode_run_time`:")
display(df_runtime_before)

üîπ Data BEFORE Converting `episode_run_time`:

   episode_run_time
0                 0
1                70
2                 0
3                42
4                45
5                45
6                 0
7                 0
8                43
9                 0

In [27]:
# Convert `episode_run_time` to Integer while handling nulls
update_result = collection.update_many({}, [
    { "$set": { 
        "episode_run_time": {
            "$convert": {
                "input": "$episode_run_time",
                "to": "int",
                "onError": 0,  # If not convertible, set to 0
                "onNull": 0     # If null, set to 0
            }
        }
    }}
])

# Print update summary
print(f"‚úÖ Matched Documents: {update_result.matched_count}")
print(f"‚úÖ Modified Documents: {update_result.modified_count}")

‚úÖ Matched Documents: 169639
‚úÖ Modified Documents: 0

Convert vote_average to float

In [28]:
# Fetch sample records with vote_average
sample_vote_data = list(collection.find({}, {"_id": 0, "vote_average": 1}).limit(10))

# Convert to DataFrame
df_vote_before = pd.DataFrame(sample_vote_data)

# Display DataFrame before conversion
print("üîπ Data BEFORE Converting `vote_average`:")
display(df_vote_before)

üîπ Data BEFORE Converting `vote_average`:

   vote_average
0         8.442
1         8.257
2         8.624
3         8.121
4         8.486
5         8.479
6         7.831
7         8.890
8         8.503
9         8.300

In [29]:
# Convert `vote_average` to float while handling errors
update_result = collection.update_many({}, [
    { "$set": { 
        "vote_average": {
            "$convert": {
                "input": "$vote_average",
                "to": "double",  # Convert to float
                "onError": 0.0,  # If not convertible, set to 0.0
                "onNull": 0.0    # If null, set to 0.0
            }
        }
    }}
])

# Print update summary
print(f"‚úÖ Matched Documents: {update_result.matched_count}")
print(f"‚úÖ Modified Documents: {update_result.modified_count}")

‚úÖ Matched Documents: 169639
‚úÖ Modified Documents: 0

Cap popularity values (Remove Outliers)

In [30]:
# Fetch sample records with popularity
sample_popularity_data = list(collection.find({}, {"_id": 0, "popularity": 1}).limit(10))

# Convert to DataFrame
df_popularity_before = pd.DataFrame(sample_popularity_data)

# Display DataFrame before capping
print("üîπ Data BEFORE Capping `popularity`:")
display(df_popularity_before)

üîπ Data BEFORE Capping `popularity`:

   popularity
0    1083.917
1      96.354
2     185.711
3     489.746
4     416.668
5     143.750
6     115.587
7     247.632
8     681.614
9      62.893

In [31]:
# Cap popularity at 5000
update_result = collection.update_many(
    { "popularity": { "$gt": 5000 } }, 
    { "$set": { "popularity": 5000 } }
)

# Print update summary
print(f"‚úÖ Matched Documents: {update_result.matched_count}")
print(f"‚úÖ Modified Documents: {update_result.modified_count}")

‚úÖ Matched Documents: 0
‚úÖ Modified Documents: 0

Check and remove duplicate records

In [32]:
# Find duplicate records by `id`
pipeline = [
    { "$group": { "_id": "$id", "count": { "$sum": 1 }, "docs": { "$push": "$_id" } } },
    { "$match": { "count": { "$gt": 1 } } }
]

# Run aggregation query
duplicates = list(collection.aggregate(pipeline))

# Convert to DataFrame
df_duplicates = pd.DataFrame(duplicates)

# Display duplicate records if any exist
print("üîπ Duplicate Records (Grouped by `id`):")
display(df_duplicates)

üîπ Duplicate Records (Grouped by `id`):

         _id  count                                               docs
0      85552      2  [67e36626f93042cc55541160, 67e44727288f9c8160f...
1     237963      4  [67e3670bf93042cc55557f57, 67e3670ef93042cc555...
2     237801      4  [67e366fef93042cc5555682b, 67e36714f93042cc555...
3     238522      3  [67e36712f93042cc55558da4, 67e36714f93042cc555...
4     238760      2  [67e36761f93042cc55561069, 67e367b4f93042cc555...
...      ...    ...                                                ...
2965    1274      2  [67e36626f93042cc55541341, 67e44727288f9c8160f...
2966  238665      3  [67e3670bf93042cc55557ed5, 67e36714f93042cc555...
2967    4743      2  [67e36626f93042cc5554147d, 67e44727288f9c8160f...
2968   84773      2  [67e36626f93042cc555411df, 67e44727288f9c8160f...
2969  237956      4  [67e3670af93042cc55557a9f, 67e3670ef93042cc555...

[2970 rows x 3 columns]

In [33]:
# Find and remove duplicates while keeping one copy
pipeline = [
    { "$group": { "_id": "$id", "docs": { "$push": "$_id" } } },
    { "$project": { "_id": 1, "keep": { "$arrayElemAt": ["$docs", 0] }, "remove": { "$slice": ["$docs", 1, { "$size": "$docs" }] } } } 
]

# Get the list of duplicate `_id`s to remove
to_remove = []
for doc in collection.aggregate(pipeline):
    to_remove.extend(doc["remove"])

# Remove duplicate records from MongoDB
if to_remove:
    delete_result = collection.delete_many({"_id": {"$in": to_remove}})
    print(f"‚úÖ Removed {delete_result.deleted_count} duplicate records.")
else:
    print("‚úÖ No duplicate records found.")

‚úÖ Removed 4934 duplicate records.

Fix Missing genres and origin_country

In [38]:
# Fetch records where `genres` or `origin_country` are missing or empty
missing_data = list(collection.find(
    { "$or": [ 
        { "genres": { "$exists": False } }, { "genres": [] }, { "genres": "" }, 
        { "origin_country": { "$exists": False } }, { "origin_country": [] }, { "origin_country": "" } ] 
    },
    { "_id": 0, "name": 1, "genres": 1, "origin_country": 1 }
).limit(20))  # Fetch a sample of 20 missing records

# Convert to DataFrame
df_missing = pd.DataFrame(missing_data)

# Display DataFrame
print("üîπ Records with Missing `genres` or `origin_country`:")
display(df_missing)

üîπ Records with Missing `genres` or `origin_country`:

,name,genres,origin_country
0,Mums Make Porn,[],GB
1,Battlestar Galactica,"[Action & Adventure, Drama, Sci-Fi & Fantasy]",
2,True Love,[],MX
3,Club 57,[],"CO, US"
4,Pasi√≥n prohibida,[],US
5,Los heroes del norte,"[Comedy, Action & Adventure, Drama]",
6,Hasta que la plata nos separe,[],CO
7,Les Contes de la rue Broca,[],FR
8,Los Tres Caines,[],CO
9,Do√±a bella,[],"CO, US"
10,Escalona,[Drama],
11,My Little Pony: Equestria Girls - Better Together,"[Animation, Comedy, Family]",
12,Origin,[Sci-Fi & Fantasy],
13,Cleopatra,"[Drama, War & Politics]",
14,Cebollitas,"[Family, Comedy]",
15,La coste√±a y el cachaco,[],
16,Amigas y rivales,[],MX
17,Oye Bonita,[],
18,En Los Tacones De Eva,[],
19,New Looney Tunes,"[Animation, Comedy, Family]",

In [39]:
# Update records where `genres` are missing or empty
update_result_genres = collection.update_many(
    { "$or": [ { "genres": { "$exists": False } }, { "genres": [] }, { "genres": "" } ] },
    { "$set": { "genres": ["No genre available"] } }
)

# Update records where `origin_country` is missing or empty
update_result_country = collection.update_many(
    { "$or": [ { "origin_country": { "$exists": False } }, { "origin_country": [] }, { "origin_country": "" } ] },
    { "$set": { "origin_country": ["No country available"] } }
)

# Print update summary
print(f"‚úÖ Genres Fixed: {update_result_genres.modified_count}")
print(f"‚úÖ Countries Fixed: {update_result_country.modified_count}")

‚úÖ Genres Fixed: 67226
‚úÖ Countries Fixed: 31026

Verify Preprocessed Data

In [34]:
# Fetch a sample of 10 cleaned records
sample_cleaned_data = list(collection.find({}, {"_id": 0}).limit(10))

# Convert to DataFrame
df_cleaned = pd.DataFrame(sample_cleaned_data)

# Display the cleaned dataset
print("üîπ Cleaned Data Sample:")
display(df_cleaned)

üîπ Cleaned Data Sample:

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,first_air_date,...,status,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,2011-04-17,...,Ended,"[Sci-Fi & Fantasy, Drama, Action & Adventure]","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,2017-05-02,...,Ended,"[Crime, Drama]",√Ålex Pina,es,"Netflix, Antena 3",ES,Espa√±ol,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,2016-07-15,...,Returning Series,"[Drama, Sci-Fi & Fantasy, Mystery]","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,2010-10-31,...,Ended,"[Action & Adventure, Drama, Sci-Fi & Fantasy]",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,2016-01-25,...,Ended,"[Crime, Sci-Fi & Fantasy]",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45
5,69050,Riverdale,7,137,en,13180,8.479,"Set in the present, the series offers a bold, ...",False,2017-01-26,...,Ended,"[Crime, Drama, Mystery]",Roberto Aguirre-Sacasa,en,The CW,US,English,"Warner Bros. Television, Berlanti Productions,...",United States of America,45
6,93405,Squid Game,2,9,ko,13053,7.831,Hundreds of cash-strapped players accept a str...,False,2021-09-17,...,Returning Series,"[Action & Adventure, Mystery, Drama]",Hwang Dong-hyuk,"en, ko, ur",Netflix,KR,"English, ÌïúÍµ≠Ïñ¥/Ï°∞ÏÑ†Îßê, ÿßÿ±ÿØŸà","Siren Pictures, Firstman Studio",South Korea,0
7,1396,Breaking Bad,5,62,en,12398,8.890,"When Walter White, a New Mexico chemistry teac...",False,2008-01-20,...,Ended,"[Drama, Crime]",Vince Gilligan,"en, de, es",AMC,US,"English, Deutsch, Espa√±ol","Sony Pictures Television Studios, High Bridge ...",United States of America,0
8,71712,The Good Doctor,6,116,en,11768,8.503,"Shaun Murphy, a young surgeon with autism and ...",False,2017-09-25,...,Returning Series,[Drama],David Shore,en,ABC,US,English,"ABC Studios, 3AD, Sony Pictures Television Stu...",United States of America,43
9,85271,WandaVision,1,9,en,11308,8.300,Wanda Maximoff and Vision‚Äîtwo super-powered be...,False,2021-01-15,...,Ended,"[Sci-Fi & Fantasy, Mystery, Drama]",Jac Schaeffer,en,Disney+,US,English,Marvel Studios,United States of America,0

### Analysis

1.	 What are the top 10 highest-rated TV shows?

In [35]:
# Find top 10 highest-rated TV shows
top_rated_shows = list(collection.find(
    {}, 
    {"_id": 0, "name": 1, "vote_average": 1}
).sort("vote_average", -1).limit(10))

# Convert to DataFrame
df_top_rated = pd.DataFrame(top_rated_shows)

# Display the results
print("üîπ Top 10 Highest-Rated TV Shows:")
display(df_top_rated)

üîπ Top 10 Highest-Rated TV Shows:

                              name  vote_average
0   Scooby-Doo!: Behind the Scenes          10.0
1                         Delirium          10.0
2                           Driven          10.0
3                Dog's Most Wanted          10.0
4                      The Reaping          10.0
5  LOL: Last One Laughing Colombia          10.0
6               Teen Choice Awards          10.0
7                    Steel Buddies          10.0
8                   Dateline on ID          10.0
9             Tyler Perry's Zatima          10.0

2.	How many TV shows are produced per country?

In [40]:
# Query for TV shows by country (excluding "No country available")
tv_shows_by_country_filtered = list(collection.aggregate([
    { "$match": { "origin_country": { "$nin": [["No country available"]] } } },  # Exclude missing countries
    { "$group": { "_id": "$origin_country", "count": { "$sum": 1 } } },
    { "$sort": { "count": -1 } },
    { "$limit": 10 }
]))

# Convert to DataFrame
df_shows_by_country_filtered = pd.DataFrame(tv_shows_by_country_filtered)

# Rename columns for readability
df_shows_by_country_filtered.rename(columns={"_id": "Country", "count": "Number of TV Shows"}, inplace=True)

# Display the top 10 countries excluding missing values
print("üîπ Top 10 TV Show-Producing Countries (Excluding Missing Values):")
display(df_shows_by_country_filtered)

üîπ Top 10 TV Show-Producing Countries (Excluding Missing Values):

  Country  Number of TV Shows
0      US               27848
1      JP               13393
2      GB               13134
3      CN               11039
4      DE                6230
5      KR                5998
6      CA                4504
7      FR                3899
8      AU                3108
9      BR                2505

3.	What are the most common genres?

In [41]:
# Query for most common genres (excluding "No genre available")
popular_genres_filtered = list(collection.aggregate([
    { "$unwind": "$genres" },  # Unwind genres array
    { "$match": { "genres": { "$ne": "No genre available" } } },  # Exclude missing genres
    { "$group": { "_id": "$genres", "count": { "$sum": 1 } } },
    { "$sort": { "count": -1 } },
    { "$limit": 10 }
]))

# Convert to DataFrame
df_popular_genres_filtered = pd.DataFrame(popular_genres_filtered)

# Rename columns for readability
df_popular_genres_filtered.rename(columns={"_id": "Genre", "count": "Number of Shows"}, inplace=True)

# Display the top 10 genres excluding missing values
print("üîπ Top 10 Most Common TV Show Genres (Excluding Missing Values):")
display(df_popular_genres_filtered)

üîπ Top 10 Most Common TV Show Genres (Excluding Missing Values):

                Genre  Number of Shows
0               Drama            33188
1              Comedy            22946
2         Documentary            21356
3           Animation            11829
4             Reality            10755
5  Action & Adventure             7200
6               Crime             6754
7              Family             6359
8    Sci-Fi & Fantasy             6298
9             Mystery             5198

Fetch and Export Cleaned Data to CSV

In [44]:
# Fetch cleaned data
cleaned_data = list(collection.find({}, {"_id": 0}))  # Exclude `_id` field

# Convert to DataFrame
df_cleaned = pd.DataFrame(cleaned_data)

# Define CSV file path
csv_file_path = "/Users/birajgtm/Documents/GBC/AI/TMDB_Cleaned_Data.csv"

# Save DataFrame as CSV
df_cleaned.to_csv(csv_file_path, index=False)

print(f"‚úÖ Data exported successfully to: {csv_file_path}")

‚úÖ Data exported successfully to: /Users/birajgtm/Documents/GBC/AI/TMDB_Cleaned_Data.csv

In [5]:
# Define CSV file path
csv_file_path = "/Users/birajgtm/Documents/GBC/AI/TMDB_Cleaned_Data.csv"

# Load CSV into DataFrame
df_csv = pd.read_csv(csv_file_path)

# Display first few rows of the CSV data
print("üîπ Preview of TMDB Cleaned Data:")
display(df_csv.head())

üîπ Preview of TMDB Cleaned Data:

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,first_air_date,...,status,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,2011-04-17 00:00:00,...,Ended,"['Sci-Fi & Fantasy', 'Drama', 'Action & Advent...","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,2017-05-02 00:00:00,...,Ended,"['Crime', 'Drama']",√Ålex Pina,es,"Netflix, Antena 3",ES,Espa√±ol,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,2016-07-15 00:00:00,...,Returning Series,"['Drama', 'Sci-Fi & Fantasy', 'Mystery']","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,2010-10-31 00:00:00,...,Ended,"['Action & Adventure', 'Drama', 'Sci-Fi & Fant...",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,2016-01-25 00:00:00,...,Ended,"['Crime', 'Sci-Fi & Fantasy']",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45